<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Edit Booking</h2>

    <form method="post">
        <label>Nama Hewan</label>
        <input type="text" name="nama" value="{{ booking.nama_hewan }}" required>

        <label>Jenis</label>
        <input type="text" name="jenis" value="{{ booking.jenis }}" required>

        <label>Berat (Kg)</label>
        <input type="number" name="berat" value="{{ booking.berat }}" required>

        <label>Tanggal</label>
        <input type="date" name="tanggal" value="{{ booking.tanggal[:10] }}" required>

        <button type="submit">Update</button>
    </form>

    <br>
    <a href="/dashboard">⬅ Kembali</a>
</div>

</body>
</html>
